:root {
  --font-main: "Helvetica", serif;
  --font-w-main: "Zilla Slab", serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-size: min(2vw, 15px);
}

html,
body {
  width: 100%;
  background: var(--w-background);
  color: var(--w-text);
  font-family: var(--font-main);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}