@font-face {
  font-family: "AldercyPixel";
  src: url(../src/assets/fonts/AldercyPixelDemoRegular-nAgdg.otf)
    format("opentype");
}

@font-face {
  font-family: "NapzerPixel";
  src: url(../src/assets/fonts/NapzerPixelDemoRegular-aYyLa.otf)
    format("opentype");
}

:root {
  --w-pri-dark: #3e10b3;
  --w-pri-light: #5400fd;
  --w-sec: #da3fa9;
  --w-accent: #d5cc17;
  --w-background: #040115;

  --board-background: #080227;
  --board-highlighted: #4a29ee;
  --board-outline: #d2d0da32;

  --highlighted: #411cff;

  --t-size-button: 1rem;
  --t-size-button-small: 1rem;
  --w-text: #dee8f4;

  --font-header: "AldercyPixel", serif;
  --font-text: "NapzerPixel", serif;

  --board-size: min(40vw, 450px);
  --board-size-small: 70vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-size: min(2vw, 15px);
}

html,
body {
  width: 100%;
  background: var(--w-background);
  color: var(--w-text);
  font-family: var(--font-text);
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: min(3.2rem, 5vw);
  font-family: var(--font-header);
  line-height: 0.8;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 8rem;
  padding-top: 2rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 12rem;
}

button:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

button:active {
  cursor: pointer;
  filter: brightness(1);
}

#toggle-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

#start-btn {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-family: var(--font-header);
  background-color: var(--w-pri-dark);
  padding: 1rem 3rem;
  color: var(--w-text);

  outline: none;
  border: 0.2rem solid var(--board-outline);
  border-radius: 3rem;
}

#rotate-btn {
  font-size: var(--t-size-button);
  font-family: var(--font-header);
  background-color: var(--w-pri-dark);
  padding: 0.5rem 1.5rem;
  color: var(--w-text);

  outline: none;
  border: 0.2rem solid var(--board-outline);
  border-radius: 3rem;
}

#toggle-probability {
  font-size: var(--t-size-button);
  font-family: var(--font-header);
  background-color: var(--w-pri-dark);
  padding: 0.5rem 1.5rem;
  color: var(--w-text);
  width: 18rem;

  outline: none;
  border: 0.2rem solid var(--board-outline);
  border-radius: 3rem;
}

#toggle-targets {
  font-size: var(--t-size-button);
  font-family: var(--font-header);
  background-color: var(--w-pri-dark);
  padding: 0.5rem 1.5rem;
  color: var(--w-text);
  width: 12rem;

  outline: none;
  border: 0.2rem solid var(--board-outline);
  border-radius: 3rem;
}

#toggle-music {
  font-size: var(--t-size-button);
  font-family: var(--font-header);
  background-color: var(--w-pri-dark);
  padding: 0.5rem 1.5rem;
  color: var(--w-text);
  width: 10rem;

  outline: none;
  border: 0.2rem solid var(--board-outline);
  border-radius: 3rem;
}

.gameboard {
  background-color: var(--board-outline);
  width: var(--board-size);
  height: var(--board-size);

  display: grid;
  grid-gap: 0.25vw;
  border: 0.2vw solid var(--board-outline);
}

.cell {
  position: relative;
  overflow: visible;
  width: 100%;
  height: 100%;
  background-color: var(--board-background);

  display: flex;
  justify-content: center;
  align-items: center;
}

#computer-board {
  cursor: pointer;
}

#computer-board .has-hit {
  cursor: not-allowed;
}

#gameboard-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.ship-img {
  z-index: 50;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  object-fit: contain;
  transform-origin: top center;
}

.hit-img {
  z-index: 60;
  width: 90%;
  height: 90%;

  filter: brightness(500);
  /* temporary */
}

.human-ship.sunk-img {
  -webkit-filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black);
  filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black)
    brightness(0.3);
}

.sunk-img {
  -webkit-filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white);
  filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white)
    brightness(1.2);
}

#full-game-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5vw;
}

#settings {
  width: var(--board-size);
  height: var(--board-size);
  background-color: var(--board-background);
  border: 0.2vw solid var(--board-outline);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#settings-label {
  font-size: max(2vw, 20px);
}

#ships-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 1vw;
}

.horizontal {
  transform: rotate(90deg);
}

#ships-container img {
  width: min(5vw, 50px);
}

#ships-container img:hover,
.highlighted-ship {
  -webkit-filter: drop-shadow(2px 2px 0 var(--highlighted))
    drop-shadow(-2px -2px 0 var(--highlighted));
  filter: drop-shadow(2px 2px 0 var(--highlighted))
    drop-shadow(-2px -2px 0 var(--highlighted)) brightness(1.2);
  cursor: pointer;
}

@media (max-width: 750px) {
  header {
    height: 15rem;
  }

  #toggle-options {
    margin-top: 0rem;
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 3.5rem;
    font-family: var(--font-header);
    line-height: 0.8;
    text-align: center;
  }

  .gameboard {
    width: var(--board-size-small);
    height: var(--board-size-small);
    grid-gap: 0.5vw;
    border: 0.5vw solid var(--board-outline);
  }

  #gameboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #full-game-container {
    display: flex;
    flex-direction: column;
    gap: 5vw;
  }

  #settings {
    width: var(--board-size-small);
    height: var(--board-size-small);
    border: 0.5vw solid var(--board-outline);
  }

  #toggle-probability {
    font-size: var(--t-size-button-small);
    width: 16.5rem;
  }

  #toggle-targets {
    font-size: var(--t-size-button-small);
    width: 11.5rem;
  }

  #toggle-music {
    font-size: var(--t-size-button-small);
    width: 10rem;
  }

  #ships-container img {
    width: 8vw;
  }
}

.highlighted-cell {
  background-color: var(--board-highlighted);
  cursor: pointer;
}

#bg-music {
  display: none;
}

.probability-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 5, 77, 1); /* White overlay */
  pointer-events: none; /* Ensure it doesn't interfere with clicks */
  z-index: 1; /* Ensure it's above the background but below other elements */
}

.target-img {
  z-index: 60;
  width: 90%;
  height: 90%;
  position: absolute;
  opacity: 0.7;
}

#human-container,
#settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#computer-container {
  display: none;
  flex-direction: column;
  align-items: center;
}

.label {
  font-family: var(--font-header);
  font-size: 2.3rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}
